<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Node JS Basic</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/users">Users</a>
</div>
<h1>EJS </h1>
<hr>

<div>
    <div>Create new User</div>
    <form action="/create-user" method="POST">
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname"><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname"><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br>
        <label for="address">Address:</label><br>
        <input type="text" id="address" name="address"><br>
        <button type="submit">Submit</button>
    </form>
</div>

<hr>

<h2>List Users</h2>

<table id="customers">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>email</th>
        <th>address</th>
        <th></th>
    </tr>
    <% for (let i = 0; i < dataUsers.length; i++) { %>
        <tr>
            <td><%= dataUsers[i].id %></td>
            <td><%= dataUsers[i].first_name %> - <%= dataUsers[i]['last_name'] %></td>
            <td><%= dataUsers[i].email %></td>
            <td><%= dataUsers[i].address %></td>
            <td>
                <button type="button"><a href="/user/<%= dataUsers[i].id %>" target="_blank">Xem</a></button>
                <button type="button"><a href="/edit-user/<%= dataUsers[i].id %>" target="_blank">Sửa</a></button>
                <form action="/delete-user" method="POST">
                    <input type="hidden" name="userId" value="<%= dataUsers[i].id %>">
                    <button type="submit">Xoá</button>
                </form>
            </td>
        </tr>
    <% } %>
</table>

<hr>


</body>
</html>